<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body>
<table width="472" border="0" align="center" cellpadding="2" cellspacing="0">
  <tr>
    <td height="14" colspan="3" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" style="FONT-SIZE: 10px" color="#000000">Ser nyhedsbrevet underlig ud - <a href="##WebVersion##"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" style="FONT-SIZE: 10px" color="#222222">klik her</font></a> for at åbne webversionen.</font></td>
  </tr>
  <tr>
    <td height="14" colspan="3" align="left" valign="top"><anp_holder_0></td>
  </tr>

  <tr>
    <td colspan="3" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td align="left" colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" style="FONT-SIZE: 10px" color="#222222"><br>
		Denne mail er sendt til <b>##SubscriberEmail##</b>.</font><br>
		<font color="#222222" size="1" face="Verdana, Arial, Helvetica, sans-serif"></font><font face="Verdana, Arial, Helvetica, sans-serif" size="1" style="FONT-SIZE: 10px" color="#222222">Ønsker du ikke flere nyhedsbreve, <a href="##OptOutList##"><font color="#3E3495">så klik her</font></a><font color="#3E3495">.</font>
	</font></td>
  </tr>
    </table></td>
  </tr>
<tr>
</tr>
<font face="Verdana, Arial, Helvetica, sans-serif" size="1" style="FONT-SIZE: 10px" color="#222222">
<td><br>Dagens Pharma<br>
Christian IX's Gade 5, 2. sal<br>
Postbox 194<br>
1006 København K<br>
<a href="mailto:info@dagenspharma.dk">info@dagenspharma.dk</a><br>
Tlf: 3332 4400<br>
Fax:3318 8666<br></td>
</font></table>
</body>
</html>
