<html>
<head>
	<title>Dagens Medicin</title>
</head>
<body bgcolor="#ffffff">

<!-- outer wrapper -->
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
<tr bgcolor="#ffffff">
<td width="620" align="center">

<!-- margin -->
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="620"><img src="http://kunder.apsis.se/shared/pixel.gif" width="0" height="10" alt=""></td>
	</tr>
</table>

<!-- inner wrapper -->
<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
<tr bgcolor="#ffffff">
<td width="15"><img src="http://kunder.apsis.se/shared/pixel.gif" width="15" height="1" alt=""></td>
<td width="570">

<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="570"><img src="http://kunder.apsis.se/shared/pixel.gif" width="0" height="15" alt=""></td>
	</tr>
</table>

<!-- header -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff" valign="top">
		<td width="355"><img src="http://www.dagensmedicin.dk/Global/1/1/logo.png" width="253" height="55" alt=""></td>
		<td width="20"><img src="http://kunder.apsis.se/shared/pixel.gif" width="20" height="1" alt=""></td>
		<td width="195"><anp_holder_0></td>
	</tr>
</table>

<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="600"><img src="http://kunder.apsis.se/shared/pixel.gif" width="1" height="5" alt=""></td>
	</tr>
</table>

<!-- navigation -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#d2ded8" valign="middle">
		<td width="10"><img src="http://kunder.apsis.se/shared/pixel.gif" width="10" height="22" alt=""></td>
		<td width="25%">
			<font style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: #000000; line-height: 140%;"><a href="##TellAFriend##" style="color: #000000; text-decoration: none;">Tip en kollega</a>
			</font>
		</td>
		<td width="45%">
			<font style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: #000000; line-height: 140%;"><a href="##TrackClick##http://www.dagensmedicin.dk/annoncer/" style="color: #000000; text-decoration: none;">Download Medieinformation</a>
			</font>
		</td>
		<td width="30%">
			<font style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: #000000; line-height: 140%;"><a href="##OptOutList##" style="color: #000000; text-decoration: none;">Afmeld nyhedsbrevet</a>
			</font>
		</td>
	</tr>
</table>

<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="570"><img src="http://kunder.apsis.se/shared/pixel.gif" width="1" height="10" alt=""></td>
	</tr>
</table>

<!-- subject -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff" valign="middle">
		<td width="570">
			<anp_holder_1>
		</td>
	</tr>
</table>

<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center" style="border-bottom: 1px dotted #000000;">
	<tr bgcolor="#ffffff">
		<td width="570"><img src="http://kunder.apsis.se/shared/pixel.gif" width="1" height="15" alt=""></td>
	</tr>
</table>

<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="570"><img src="http://kunder.apsis.se/shared/pixel.gif" width="1" height="15" alt=""></td>
	</tr>
</table>

<!-- 2 column placeholder -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff" valign="top">
		<td width="355"><anp_holder_2></td>
		<td width="9" style="border-right: 1px dotted #000000;"><img src="http://kunder.apsis.se/shared/pixel.gif" width="9" height="1" alt=""></td>
		<td width="10"><img src="http://kunder.apsis.se/shared/pixel.gif" width="10" height="1" alt=""></td>
		<td width="195"><anp_holder_3></td>
	</tr>
</table>
<!-- margin -->
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="570"><img src="http://kunder.apsis.se/shared/pixel.gif" width="1" height="10" alt=""></td>
	</tr>
</table>
<!-- end of inner wrapper -->
</td>
<td width="15"><img src="http://kunder.apsis.se/shared/pixel.gif" width="15" height="1" alt=""></td>
</tr>
</table>

<!-- margin -->
<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr bgcolor="#ffffff">
		<td width="600"><img src="http://kunder.apsis.se/shared/pixel.gif" width="0" height="10" alt=""></td>
	</tr>
</table>


<!-- end of outer wrapper -->
</td>
</tr>
</table>

</body>
</html>
